<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block title %}Blog{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    {% block stylesheets %}<link href="{{ asset('bundles/app/css/style.css') }}" rel="stylesheet" />{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

</head>

<body>
    <nav class="nav">
        <ul class="nav__list">
            <li><a href="/">Home</a></li>
            <li><a href="/blog">Article</a></li>
            <li><a href="/blog/details">Détails des Licences</a></li>
            <li><a href="/blog/nous">A Propos</a></li>
            <li><a href="/blog/contact">Contact</a></li>
            <li><a href="/register">Inscription</a></li>
            <li><a href="/login">Connexion</a></li>
        </ul>
    </nav><!--/.nav-collapse -->

    <main class="mainSection">
        {% block body %}{% endblock %}
    </main>

    {% block javascripts %}{% endblock %}
    <script type="text/javascript" src="{{ asset('bundles/app/js/script.js') }}"></script>

</body>
</html>
