{% extends 'base.html.twig' %}

{% block body %}
<section>
    <div class="blog__header">
        <h1>Les derniers articles</h1>  
        <button class="blog__editBtn"><a href="blog/create">Editer les articles</a></button>
    </div>
    {% for blogpostitem in blogpost %}
    <div class="card text-center">
        <div class="card-header">
            {{blogpostitem.category}}
        </div>
        <div class="card-block">
            <h4 class="card-title">{{blogpostitem.title}}</h4>
            <p class="card-text">{{blogpostitem.body}}</p>
        </div>
    </div>  
    {% endfor %}
</section>
{% endblock %}

