{% extends 'base.html.twig' %}

{% block body %}
<section class="createArticle__section">
    <h2 class="page-header">Créer un article</h2>
      {{ form_start(form)}}
      {{ form_widget(form)}}
      {{ form_end(form)}}
</section>
{% endblock %}