{% extends 'base.html.twig' %}

{% block body %}
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h3>Les licences</h3>
                <p>Les licences se décline en plusieurs niveaux</p>
                <ul>
                    <li>il existe des licences purement informatique</li>
                    <li>il existe d'autres types de licences s'appliquant aux textes, images, musique et autres œuvres de l'esprit.</li>
                </ul>
            </div>
        </div>
        <section>
            <div>
             <table class="table">
                <thead>
                    <tr>
                        <th>Les Type de licences</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>GNU (General Public License)</td>
                    </tr>
                    <tr>
                        <td>Open source</td>
                    </tr>
                    <tr>
                        <td>Le droit d'auteur</td>
                    </tr>
                    <tr>
                        <td>Le Copyleft</td>
                    </tr>
                    <tr>
                        <td>Le Copyright</td>
                    </tr>
                </tbody>
            </table>
            <div>
                <h3>Qu'est-ce que le GNU (General Public License) ?</h3>
                <p>GNU est à l'origine de la licence GPL (General Public Licence). Quand un logiciel est sous licence GPL, cela assure:</p>
                <ul>
                    <li>que le code source est librement accessible si le logiciel est distribué,</li>
                    <li>que l'auteur du code source reste propriétaire de sa création,</li>
                    <li>que tout le monde peut apporter des modifications et les diffuser (à condition que ce soit sous licence GPL également),</li>
                    <li>que l'auteur original est mentionné dans toutes les versions dérivées,</li>
                    <li>que personne ne peut s'approprier le logiciel.</li>
                </ul>
            </div>
            <div>
                    <h3>Qu'est-ce que l’open Source ?</h3>
                    <p>La désignation open source, ou « code source ouvert », s'applique aux logiciels (et s'étend maintenant aux œuvres de l'esprit) dont
                        la licence respecte des critères précisément établis par l'Open Source Initiative, c'est-à-dire les possibilités de libre redistribution, d'accès au code source et de création de travaux dérivés. Mis à la disposition du grand public, ce code source est généralement le résultat d'une collaboration entre programmeurs.</p>
                </div>
                <div>
                    <h3>Qu'est-ce  que le droit d’auteur ?</h3>
                    <p>Il protège avant toute chose, non pas l’oeuvre, mais les droits du créateur sur sa création. Ils sont inaliénables, et seuls les droits patrimoniaux sont cessibles</p>
                </div>
                <div>
                    <h3>Qu'est-ce que le copyleft ?</h3>
                    <p>Le copyleft est une méthode générale pour rendre libre un programme (ou toute autre œuvre) et obliger toutes les versions modifiées ou étendues de ce programme à être libres également.</p>
                    <p>La manière la plus simple de faire d'un programme un logiciel libre est de le mettre dans le domaine public, sans copyright.1 Cela autorise les gens à le partager si le cœur leur en dit, avec leurs améliorations éventuelles. Mais cela autorise aussi des personnes indélicates à en faire un logiciel privateur.2 Elles peuvent très bien y effectuer des changements, nombreux ou non, et distribuer le résultat en tant que logiciel privateur. Ceux qui recevront le programme dans sa forme modifiée n'auront pas la liberté que l'auteur original leur avait donnée ; l'intermédiaire l'aura fait disparaître.</p>
                </div>
                <div>
                <h3>Qu'est-ce que le copyright ?</h3>
                <p>Le copyright, étymologiquement, concerne the right of the copy, ce qui n’est pas, contrairement à ce qu’on lit partout (autre ânerie), le droit de copie, mais le droit relatif à l’exemplaire, soit, en réalité, avant toute chose, le droit relatif à l’exploitation des oeuvres, soit les droits patrimoniaux. Le copyright, reconnu à l’échelle mondiale, mentionne un droit moral, mais celui-ci – et c’est toute l’importance du distinguo – est secondaire aux droits patrimoniaux. En d’autres termes, pour simplifier, pour qu’il existe une exploitation d’une oeuvre, il faut quelqu’un à qui l’attribuer, donc cela implique la nécessité d’un droit moral, mais celui-ci est réduit. Le droit moral, dans ce régime, peut être cédé de manière irréversible. Dans le régime du copyright, tout droit est achetable, et son acquéreur en fait ce qu’il veut. Je n’aime pas l’expression, mais le copyright est, pour simplifier, la loi de l’argent.</p>
                </div>
            </div>
        </section>
{% endblock %}

