{% extends 'base.html.twig' %}

{% block body %}
  <section class="nous__section">
    <h1>Notre Team</h1>
    <ul>
        <li>Ahmadou : Product Owner</li>
        <li>Amélie : Devteam</li>
        <li>Ouali : Scrum Master</li>
    </ul>
  </section>

{% endblock %}