{% extends 'base.html.twig' %}

{% block body %}

  <section class="licences__section">
    <h1>Choisir et utiliser des librairies, API et applications en toute légalité !</h3>
    <div class="home__content">
      <p>Une licence de logiciel est un contrat par lequel le titulaire des droits d'auteur sur un programme informatique définit avec son cocontractant (exploitant ou utilisateur) les conditions dans lesquelles ce programme peut être utilisé, diffusé ou modifié.</p>
    </div>
    <button><a href="blog/details">En savoir plus</a></button>
  </section>

  <section class="cdc__section">
    <h1>Consultez des exemples de cahiers des charges qui utilisent différentes licences</h1>
    <div class="home__content">
      {% for blogpostitem in blogpost %}
        <div class="card text-center">
          <div class="card-header">
            {{blogpostitem.category}}
          </div>
          <div class="card-block">
            <h4 class="card-title">{{blogpostitem.title}}</h4>
            <p class="card-text">{{blogpostitem.body}}</p>
          </div>
        </div>
      {% endfor %}
    </div>
    <button><a href="blog">Voir plus d'exemples</a></button>
  </section>

{% endblock %}